<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873135698427-77b24g4arjsrj2mh508n68gsqtdfjp8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873135698427-77b24g4arjsrj2mh508n68gsqtdfjp8m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>873135698427-gbacumo7836356mr3ds3srk6soo4ncc3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7KeE-aWYAfLPJirKFjKg7Cdr_nv7YBQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>873135698427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.sneakers</string>
	<key>PROJECT_ID</key>
	<string>sneaker-e7b38</string>
	<key>STORAGE_BUCKET</key>
	<string>sneaker-e7b38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873135698427:ios:d24e44183d585e33291b5e</string>
</dict>
</plist>